.timeline-line {
    position: absolute;
    top: 0px;
    left: 15px;
    bottom: 0;
    width: 2px;
    background-color: #e0e0e0;
    z-index: 0;
}

.timeline-item {
    position: relative;
    padding-left: 60px;
}
#copiedMsg {
    z-index: 10;
    padding: 0.25rem 0.5rem;
    margin:-13px 0;
}
.timeline-dot {
    position: absolute;
    left: 18px;
    top: 12px;
    z-index: 1;
    font-size: 1.2rem;
}

.timeline-card {
    background-color: #ffffff;
    border-left: 4px solid #0d6efd;
    border-radius: 0.5rem;
    overflow: hidden;
}

@media (max-width: 576px) {
    .timeline-item {
        padding-left: 40px;
    }

    .timeline-dot {
        left: 10px;
    }

    .timeline-line {
        left: 15px;
    }
}



.timeline-card .card-body .row>div i {
    font-size: 24px !important;
}


.order-timeline {
    max-height: 700px;
    /* Adjust as needed */
    overflow-y: auto;
    scroll-behavior: smooth;
}

.order-timeline::-webkit-scrollbar {
    width: 6px;
}

.order-timeline::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.order-timeline .timeline-item {
    transition: all 0.2s ease;
}

.order-timeline .timeline-item.hidden {
    display: none !important;
}

.order-timeline .col-6.hidden {
    display: none !important;
}


/* Product Update */
.custom-uploader {
    border: 2px dashed #bbb;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #fafafa;
    position: relative;
    transition: background-color 0.2s ease;
}

.custom-uploader.dragover {
    background-color: #f0f0f0;
    border-color: #333;
}

.custom-uploader img {
    max-width: 100%;
    aspect-ratio: 16 / 9;
    display: block;
    border-radius: 8px;
    object-fit: cover;
}

.custom-uploader span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.custom-uploader input[type="file"] {
    display: none;
}
.preview-image-uploader {
    position: relative;
    width: 48%;
    border: 2px dashed #ccc;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: border-color 0.2s;
}

.preview-image-uploader.dragover {
    border-color: #666;
    background-color: #f1f1f1;
}

.preview-image-uploader img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.preview-image-uploader input[type="file"] {
    display: none;
}

.preview-image-uploader .action-buttons {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 4px;
}


@media (max-width:620px) {
    #add_images .preview_image 
    {
        width: 100% !important;
    }
}