{% extends 'dashboard/index.html' %}

{% load static i18n %}

{% block extra_css %}
    <link rel="stylesheet"
          href="{% static "css/product.css" %}?v={% now "U" %}" />


{% endblock extra_css %}

{% block dashContent %}
    <div class="container-fluid">
        {# Product Card #}
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="mb-0">
                    {% trans "Product Overview" %}
                </h5>
            </div>
            <div class="card-body ">

                <div class="row g-2">
                    {# Product Image #}
                    <div class="col-lg-4 col-md-12">
                        <div class="card-image position-relative mb-2">
                            <img src="{{ product.image.url }}"
                                 alt="{{ product.name }}"
                                 class="rounded w-100" />
                        </div>
                        {% if product.preview_images %}
                            <div class="card-preview-images mb-2 d-flex gap-1">
                                {% for image in product.preview_images.all %}
                                    <div class="w-25">
                                        <img src="{{ image.image.url }}"
                                             alt="{{ product.name }}"
                                             class="rounded w-100" />
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    {# Product Details #}
                    <div class="col-lg-8 col-md-12">
                        <div class="card-details">
                            <h5 class="fw-bold text-truncate mb-2 text-primary {% if product.landing_page.landing_language == "ar" %}text-end{% endif %}">
                                {{ product.name }}
                            </h5>
                            <p class="text-muted {% if product.landing_page.landing_language == "ar" %}text-end{% endif %}">
                                {{ product.description|slice:":200" }}
                            </p>
                            <div class="product-meta d-flex flex-column">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0 text-primary">
                                            {% trans "Product Meta" %}
                                        </h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row g-2">

                                            <!-- Product Price -->
                                            <div class="col-lg-6 col-md-12">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <label class="form-label fw-bold mb-0 text-truncate">
                                                        {% trans "Product Price" %}
                                                    </label>
                                                    <span class="text-accent fw-bold fs-6 text-truncate">
                                                        {{ product.price }} DZD
                                                    </span>
                                                </div>
                                            </div>

                                            <!-- Pixel Tracking -->
                                            <div class="col-lg-6 col-md-12">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <label class="form-label fw-bold mb-0 text-truncate">
                                                        {% trans "Pixel Tracking" %}
                                                    </label>
                                                    <span class="badge text-truncate {% if product.enable_pixel %}bg-accent{% else %}bg-danger{% endif %}">
                                                        {% if product.enable_pixel %}
                                                            {% trans "Enabled" %}
                                                        {% else %}
                                                            {% trans "Disabled" %}
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </div>

                                            <!-- Product Page -->
                                            <div class="col-lg-6 col-md-12">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <label class="form-label fw-bold mb-0 text-truncate">
                                                        {% trans "Product Page" %}
                                                    </label>
                                                    <span class="badge text-truncate {% if product.is_public %}bg-accent{% else %}bg-danger{% endif %}">
                                                        {% if product.is_public %}
                                                            {% trans "Published" %}
                                                        {% else %}
                                                            {% trans "Unpublished" %}
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </div>

                                            <!-- In Stock -->
                                            <div class="col-lg-6 col-md-12">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <label class="form-label fw-bold mb-0 text-truncate">
                                                        {% trans "Product Stock" %}
                                                    </label>
                                                    <span class="badge text-truncate {% if product.stock > 0 %}bg-accent{% else %}bg-danger{% endif %}">
                                                        {% if product.stock > 0 %}
                                                            {% trans "In Stock" %}
                                                        {% else %}
                                                            {% trans "Out of Stock" %}
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </div>

                                            <!-- Available Stock -->
                                            <div class="col-lg-6 col-md-12">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <label class="form-label fw-bold mb-0 text-truncate">
                                                        {% trans "Available Stock" %}
                                                    </label>
                                                    <span class="badge text-truncate {% if product.stock > 0 %}bg-accent{% else %}bg-danger{% endif %}">
                                                        {{ product.stock|default:0 }}
                                                    </span>
                                                </div>
                                            </div>

                                            {% if product.is_public %}
                                                <!-- Page Language -->
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <label class="form-label fw-bold mb-0 text-truncate">
                                                            {% trans "Page Language" %}
                                                        </label>
                                                        <span class="badge text-truncate {% if product.landing_page.landing_language == "ar" %} bg-accent {% elif product.landing_page.landing_language == "en" %} bg-primary {% else %} bg-info {% endif %}">
                                                            {{ product.landing_page.get_landing_language_display }}
                                                        </span>
                                                    </div>
                                                </div>

                                                <!-- Layout Direction -->
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <label class="form-label fw-bold mb-0 text-truncate">
                                                            {% trans "Layout Direction" %}
                                                        </label>
                                                        <span class="badge text-truncate {% if product.landing_page.layout_direction == 'horizontal' %} bg-accent {% else %} bg-primary {% endif %}">
                                                            {{ product.landing_page.get_layout_direction_display }}
                                                        </span>
                                                    </div>
                                                </div>

                                                <!-- Feedbacks -->
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <label class="form-label fw-bold mb-0 text-truncate">
                                                            {% trans "Feedbacks" %}
                                                        </label>
                                                        <span class="badge text-truncate {% if product.landing_page.enable_feedbacks %}bg-accent{% else %}bg-secondary{% endif %}">
                                                            {% if product.landing_page.enable_feedbacks %}
                                                                {% trans "Enabled" %}
                                                            {% else %}
                                                                {% trans "Disabled" %}
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                </div>

                                                <!-- Related Products -->
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <label class="form-label fw-bold mb-0 text-truncate">
                                                            {% trans "Related Products" %}
                                                        </label>
                                                        <span class="badge text-truncate {% if product.landing_page.enable_related_products %}bg-accent{% else %}bg-secondary{% endif %}">
                                                            {% if product.landing_page.enable_related_products %}
                                                                {% trans "Enabled" %}
                                                            {% else %}
                                                                {% trans "Disabled" %}
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                </div>

                                                <!-- Product Page URL -->
                                                <div class="col-12 pt-3 border-top">
                                                    <div class="row align-items-center g-2">
                                                        <div class="col-12 col-md-4">
                                                            <label class="form-label fw-bold mb-0 text-truncate">
                                                                {% trans "Product Page URL" %}
                                                            </label>
                                                        </div>
                                                        <div class="col-12 col-md-8">
                                                            <div class="d-flex align-items-center">
                                                                <input type="text"
                                                                       class="form-control text-truncate"
                                                                       readonly
                                                                       id="productUrlInput"
                                                                       value="{{ request.scheme }}://{{ request.get_host }}{% url 'frontend:product_landing' shop_code=product.user.profile.shop_code pk=product.pk %}" />

                                                                <div class="d-flex align-items-center ms-1">
                                                                    <!-- Open Product Page Button -->
                                                                    <a href="{% url 'frontend:product_landing' shop_code=product.user.profile.shop_code pk=product.pk %}"
                                                                       class="bg-primary text-white p-1 border rounded"
                                                                       target="_blank"
                                                                       aria-label="Open Product Page">
                                                                        <svg viewBox="0 0 16 16"
                                                                             width="27"
                                                                             height="27"
                                                                             fill="none"
                                                                             xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M14 2H5.5L4 3.5L6.84 6.34L0.59 12.59L3.41 15.41L9.66 9.16L12.5 12L14 10.5V2Z" fill="#fff" />
                                                                        </svg>
                                                                    </a>

                                                                    <button class="bg-primary border rounded p-1 ms-1 position-relative"
                                                                            type="button"
                                                                            id="copyProductUrlBtn"
                                                                            aria-label="Copy URL to clipboard">
                                                                        <!-- SVG Icon -->
                                                                        <svg viewBox="0 0 24 24"
                                                                             fill="none"
                                                                             xmlns="http://www.w3.org/2000/svg"
                                                                             width="27"
                                                                             height="27">
                                                                            <path d="M17.1 2H12.9C9.82 2 8.37 3.09 8.07 5.74C8.01 6.29 8.46 6.75 9.02 6.75H11.1C15.3 6.75 17.25 8.7 17.25 12.9V14.98C17.25 15.53 17.71 15.99 18.26 15.93C20.91 15.63 22 14.18 22 11.1V6.9C22 3.4 20.6 2 17.1 2Z" fill="#fff" />
                                                                            <path d="M11.1 8H6.9C3.4 8 2 9.4 2 12.9V17.1C2 20.6 3.4 22 6.9 22H11.1C14.6 22 16 20.6 16 17.1V12.9C16 9.4 14.6 8 11.1 8ZM12.29 13.65L8.58 17.36C8.44 17.5 8.26 17.57 8.07 17.57C7.88 17.57 7.7 17.5 7.56 17.36L5.7 15.5C5.42 15.22 5.42 14.77 5.7 14.49C5.98 14.21 6.43 14.21 6.71 14.49L8.06 15.84L11.27 12.63C11.55 12.35 12 12.35 12.28 12.63C12.56 12.91 12.57 13.37 12.29 13.65Z" fill="#fff" />
                                                                        </svg>

                                                                        <!-- Copied message -->
                                                                        <span id="copiedMsg"
                                                                              class="position-absolute top-0 start-100 translate-middle badge bg-success d-none"
                                                                              style="font-size: 0.75rem">
                                                                            Copied!
                                                                        </span>
                                                                    </button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# Product Orders #}
        <div class="card mb-3">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between w-100">
                    <h5 class="mb-0 text-truncate">
                        {% trans "Product Orders" %}
                    </h5>
                    {% if product.orders.exists %}
                        <div class="search-orders">
                            <input type="text"
                                   class="form-control"
                                   id="orderSearchInput"
                                   placeholder="{% trans 'Search by name, email, or phone...' %}" />
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="card-body position-relative">

                {% if product.orders.exists %}
                    <div class="order-timeline container-fluid">
                        <div class="timeline-line d-none d-md-block">
                        </div>
                        <div class="row g-2 ">
                            {% for order in product.orders.all %}
                                <div class="col-lg-6 col-md-12">
                                    <div class="timeline-item d-flex flex-column flex-md-row">
                                        <!-- Dot -->
                                        <div class="timeline-dot text-center me-md-3 mb-2 mb-md-0">
                                            <i class="fas fa-check-circle fa-lg {% if order.status == 'confirmed' %} text-success {% elif order.status == 'pending' %} text-warning {% elif order.status == 'shipped' %} text-info {% elif order.status == 'delivered' %} text-primary {% elif order.status == 'cancelled' %} text-danger {% else %} text-secondary {% endif %}"></i>
                                        </div>

                                        <!-- Card -->
                                        <div class="timeline-card card shadow-sm flex-grow-1 w-100">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between flex-column flex-md-row mb-2 gap-2">
                                                    <h5 class="mb-0 fw-bold text-truncate">
                                                        {{ order.full_name }}
                                                    </h5>
                                                    <div class="dropdown">
                                                        <button class="badge dropdown-toggle border-0 {% if order.status == 'confirmed' %} bg-success {% elif order.status == 'pending' %} bg-warning text-dark {% elif order.status == 'shipped' %} bg-info {% elif order.status == 'delivered' %} bg-primary {% elif order.status == 'cancelled' %} bg-danger {% else %} bg-secondary {% endif %}"
                                                                type="button"
                                                                id="statusDropdown{{ order.id }}"
                                                                data-bs-toggle="dropdown"
                                                                aria-expanded="false">
                                                            {% if order.status == 'pending' %}
                                                                {% trans "Pending" %}
                                                            {% elif order.status == 'confirmed' %}
                                                                {% trans "Confirmed" %}
                                                            {% elif order.status == 'shipped' %}
                                                                {% trans "Shipped" %}
                                                            {% elif order.status == 'delivered' %}
                                                                {% trans "Delivered" %}
                                                            {% elif order.status == 'cancelled' %}
                                                                {% trans "Cancelled" %}
                                                            {% else %}
                                                                {{ order.get_status_display }}
                                                            {% endif %}
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="statusDropdown{{ order.id }}">
                                                            {% for status in order.STATUS_CHOICES %}
                                                                {% with key=status.0 label=status.1 %}
                                                                    <li>
                                                                        <a class="dropdown-item change-status {% if key == order.status %}active disabled{% endif %}"
                                                                           href="#"
                                                                           data-order-id="{{ order.id }}"
                                                                           data-status="{{ key }}"
                                                                           data-update-url="{% url 'dash:update_order_status' %}">
                                                                            {% trans "Mark as" %} {{ label }}
                                                                        </a>
                                                                    </li>
                                                                {% endwith %}
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>

                                                <!-- Info Grid -->
                                                <div class="row small text-muted gy-2">
                                                    {% if order.email %}
                                                        <div class="col-sm-6 ">
                                                            <div class="d-flex align-items-end" title="{{ order.email }}">
                                                                <i class="fas fa-envelope me-1"></i>
                                                                <p class="text-truncate mb-0">
                                                                    {{ order.email }}
                                                                </p>
                                                            </div>
                                                        </div>

                                                    {% endif %}
                                                    <div class="col-sm-6">
                                                        <i class="fas fa-phone me-1"></i> +213 {{ order.phone_number }}
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <i class="fas fa-map-marker-alt me-1"></i>
                                                        {{ order.wilaya_display }} / {{ order.commune }}
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <i class="fas fa-box me-1"></i> {% trans "Quantity" %}: {{ order.quantity }}
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <small class="text-muted d-flex align-items-end">
                                                            <i class="fas fa-clock me-1"></i> {{ order.created_at|date:"Y-m-d H:i" }}
                                                        </small>
                                                    </div>

                                                </div>
                                                <!-- Footer -->
                                                <div class="d-flex justify-content-between align-items-center border-top pt-2 mt-3 flex-column flex-md-row gap-2">
                                                    <span class=" fs-5 fw-semibold">{% trans "Total" %}</span>
                                                    <span class="fw-semibold text-primary">
                                                        {{ order.total_price|floatformat:2 }} DZD
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="empty-orders text-center py-5">
                        <i class="fas fa-box-open fa-3x text-muted mb-3"></i>
                        <p class="fs-5 fw-semibold text-muted mb-1">
                            {% trans "No orders found at the moment." %}
                        </p>
                        <small class="text-muted">{% trans "Your recent orders will appear here once available." %}</small>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock dashContent %}

{% block extra_js %}
    <script src="{% static "js/products.js" %}?v={% now "U" %}"></script>
{% endblock extra_js %}
