{% load static i18n filters %}

<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="product-card row g-1 border rounded position-relative">
        <div class="col-lg-12 col-md-12 m-0">
            <div class="product-image position-relative">
                <img src="{{ product.image.url }}"
                     alt="{{ product.name }}"
                     class="rounded w-100" />
            </div>
        </div>
        <div class="col-lg-12 col-md-12 p-2">
            <div class="product-info">
                <h5 class="product-name text-truncate fw-bold text-primary mb-1 {% if product.landing_page.landing_language == "ar" %}text-end{% endif %}">
                    {{ product.name }}
                </h5>
                <div class="d-flex align-items-end justify-content-between">
                    <div class="product-meta w-100">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center gap-2">
                                <i class="fas fa-coins fs-5"></i>
                                <p class="text-muted fw-bold mb-0">

                                    {{ product.price|format_revenue }} DZD
                                </p>
                            </div>

                            <div class="d-flex align-items-center gap-2">
                                <i class="fas fa-ticket fs-5"></i>
                                <p class="text-muted fw-bold mb-0">
                                    {{ product.orders.count|default:"0" }}
                                </p>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <i class="fas fa-boxes-stacked fs-5">
                                </i>
                                <p class="text-muted fw-bold mb-0">
                                    {{ product.stock|default:"0" }}
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% if is_editable == True %}
            <div class="col-lg-12 col-md-12 m-0">
                <div class="card-footer bg-transparent border-top p-2">
                    <!--  tidy button bar - no icons  -->
                    <div class="d-flex gap-1 flex-wrap">

                        <a href="{% url 'dash:product_details' pk=product.pk %}"
                           class="btn btn-sm btn-outline-primary flex-fill">
                            {% trans "Details" %}
                        </a>

                        {% if product.is_public %}
                            <a href="{% url 'frontend:product_landing' product.user.profile.shop_code product.pk %}"
                               target="_blank"
                               class="btn btn-sm btn-outline-success flex-fill">
                                {% trans "Page" %}
                            </a>
                        {% endif %}

                        <a href="{% url 'dash:product_update' product.pk %}"
                           class="btn btn-sm btn-outline-secondary flex-fill">
                            {% trans "Edit" %}
                        </a>


                        <button class="btn btn-sm delete-button btn-delete btn-outline-danger w-100"
                                data-delete-url="{% url 'dash:product_delete' product.pk %}"
                                data-csrf-token="{{ csrf_token }}"
                                style="max-width:min-content">
                            {% trans "Delete" %}
                        </button>

                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
